*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 1rem 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
.logo{
    padding: 10px;
    font-size: 2rem;
}
.items{
    padding-right: 2.5rem;
}
.nav ul li{
    display: inline-block;
    padding: 10px;
}
.nav ul li:hover{
    background-color: cadetblue;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.hamburger-button{
    display: none;
}

.intro_section{
    padding: 10rem 25rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}
.intro_heading{
    font-size: 5rem;
}
.tag_line{
    background-color: greenyellow;
    position: absolute;
    left: 25%;
    text-indent: 4rem;
    text-align: center;
    width: 900px;
    font-size: 3rem;
}
.intro_img{
    width:300px;
    height: 450px;
    position: relative;
    z-index: 2;
}
.grid-item1{
    grid-row: span 2;
}

.intro_heading{
    font-weight: normal;
    font-size: 2.5rem;
}
.stringName{
    font-weight: bold;
    font-size: 4rem;
}
.grid-item2{
    padding-left: 2rem;
}
.grid-item3{
    padding-bottom: 5rem;
}
.intro_img{
    box-shadow: 8px 16px 12px #888888;
}


@media(max-width:780px){
    .nav{
       display: none;
    }
    .hamburger-button{
        position: absolute;
        display: flex;
        top: 1.2rem;
        right: 2.5rem;
    }
    .hamburger-button{
        font-size: 2rem;
        border: none;
        background-color: lightgray;
        border-radius: 7px;
    }
    body{
        padding: 1rem 1.5rem;
    }
    .header{
        flex-direction: column;
    }
    .nav ul li{
        display: block;
        text-align: center;
        padding: 5px;
    }
    .nav.active{
        display: block;
    }
    .intro_section{
        grid-template-columns: 1fr 2fr;
        padding: 3rem 3rem;
        justify-content: start;
        height: 65vh;
    }
    .intro_heading{
        font-size: 2rem;
    }
    .tag_line{
    width: 330px;
    left: 12%;
    font-size: 1.5rem;
    }
    .intro_img{
        width:110px;
        height: 200px
    }
    .grid-item2 {
        padding-left: 10px;
    }
}
