*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 1rem 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.logo{
    padding: 10px;
    font-size: 2rem;
}
.items{
    padding-right: 2.5rem;
}
.nav ul li{
    display: inline-block;
    padding: 10px;
}
.nav ul li:hover{
    background-color: cadetblue;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.hamburger-button{
    display: none;
}

.intro_section{
    padding: 10rem 25rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}
.intro_heading{
    font-size: 5rem;
}
.tag_line{
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    left: 25%;
    text-indent: 12rem;
    text-align: center;
    width: 900px;
    font-size: 3.5rem;
}
.intro_img{
    width:300px;
    height: 450px;
    position: relative;
    z-index: 2;
}
.grid-item1{
    grid-row: span 2;
}

.intro_heading{  
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 2.5rem;
}
.stringName{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 6rem;
}
.grid-item2{
    padding-left: 2rem;
}
.grid-item3{
    padding-bottom: 5rem;
}
.intro_img{
    box-shadow: 8px 16px 12px #888888;
}

.Quote_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.Quote_container:hover .Quote_firstLine_content{
    transform: translateX(0%);
}
.Quote_container:hover .Quote_secondLine_content{
    transform: translateX(0%);
}
.Quote_container:hover .Quote_thirdLine_content{
    transform: translateX(0%);
}
.Quote_container:hover .QuoteBy{
    display: flex;
}
.Quote_firstLine_content{
    position: absolute;
    top: 35%;
    left: 12rem;
    background-color: chartreuse;
    transform: translateX(-151%);
    transition: ease-in-out 1s;
}
.Quote_secondLine_content{
    position: absolute;
    transform: translateX(-400%);
    transition: ease-in-out 1s;
    background-color: rgb(202, 171, 31);
    top: 45%;
}
.Quote_thirdLine_content{
    position: absolute;
    transform: translateX(-400%);
    transition: ease-in-out 1s;
    background-color: rgb(132, 33, 172);
    right: 10rem;
    top: 55%;
}
.QuoteBy{
    display: none;
    transition: 1s;
    position: absolute;
    top: 65%;
    right: 20px;
}
.Skills_Main_Container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.Skills_header{
    text-align: center;
    padding-bottom: 3rem;
}
.Skills{
    position: ;
}
.skills_table{
    text-align: center;
    padding: 1rem 1rem;
}
.skills_table td{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
}

.Java{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.Java_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.Java_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.Spring{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.Spring_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.Spring_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.Html{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.Html_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.Html_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.CSS{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.CSS_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.CSS_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.JavaScript{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.JS_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.JS_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.Skills{
    display: grid;
    grid-gap: 2rem;
}

.sk{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
}
.skill_name{
    font-size: 2.5rem;
    font-weight: bold;
}

.Skills_Main_Container:hover .Spring_fill{
    width: 80%;
}
.Skills_Main_Container:hover .Java_fill{
    width: 80%;
}
.Skills_Main_Container:hover .Html_fill{
    width: 70%;
}
.Skills_Main_Container:hover .CSS_fill{
    width: 50%;
}
.Skills_Main_Container:hover .JS_fill{
    width: 30%;
}

.Skills_header{
    font-size: 3rem;
}


.Projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-1{
    margin-top: 1rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem;

}

.left{
    width: 100%;
    height: 50%;
    padding: 0 2rem;
}

.project-1-anchor{
    background-image: url("Images/CountDownProject.JPG");
    background-size: cover;
    background-position: top;
}

.project-1-image{
    width: 100%;
    height: 350px;
}

.right{
    width: 100%;
    height: 50%;
    padding: 0 2rem;
}

.Projects_heading,.project-header{
    font-size: 3rem;
    text-align: center;
}

.content{
    font-size: 1.5rem;
}

.content-footer{
    text-align: center;
}

.project-2{
    display: inline-flex;
    padding-top: 10rem;
}

.Quote_2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Quote2__line1_content{
    position: absolute;
    left: 10rem;
    top:45%;
    background-color: lightgreen;
}

.Quote2__line2_content{
    position: absolute;
    right: 5rem;
    top:50%;
    background-color: lightcoral;
}

.QuoteBy2{
    position: absolute;
    top: 60%;
    right: 20px;
}

@media(max-width:780px){
    .nav{
       display: none;
    }
    .hamburger-button{
        position: absolute;
        display: flex;
        top: 1.2rem;
        right: 2.5rem;
    }
    .hamburger-button{
        font-size: 2rem;
        background-color: white;
        border: none;
        border-radius: 7px;
    }
    body{
        padding: 1rem 1.5rem;
    }
    .header{
        flex-direction: column;
    }
    .nav ul li{
        display: block;
        text-align: center;
        padding: 5px;
    }
    .nav.active{
        display: block;
    }
    .intro_section{
        grid-template-columns: 1fr 1fr;
        padding: 3rem 3rem;
        justify-content: start;
        height: 40vh;
    }
    .intro_heading{
        font-size: 2rem;
    }
    .stringName{
        font-size: 3rem;
    }
    .tag_line{
    font-family: Stencil Std, fantasy;
    width: 330px;
    left: 12%;
    text-indent: 4rem;
    font-size: 1.5rem;
    }
    .intro_img{
        width:110px;
        height: 200px
    }
    .grid-item2 {
        padding-left: 12px;
    }
    .Quote_container{
        height: 40vh;
    }

    .Quote_firstLine_content{
        position: absolute;
        font-size: 1rem;
        top: 40%;
        left: 12px;
        background-color: chartreuse;
        transform: translateX(0);
        transition: ease-in-out 1s;
    }
    .Quote_secondLine_content{
        font-size: 1rem;
        position: absolute;
        transform: translateX(0);
        transition: ease-in-out 1s;
        background-color: rgb(202, 171, 31);
        top: 50%;
    }
    .Quote_thirdLine_content{
        font-size: 1rem;
        position: absolute;
        transform: translateX(0);
        transition: ease-in-out 1s;
        background-color: rgb(132, 33, 172);
        right: 10px;
        top: 60%;
    }
    .QuoteBy{
        font-size: 0.5rem;
        display: flex;
        transition: 1s;
        position: absolute;
        top: 70%;
        right: 20px;
    }
    .Skills_Main_Container{
        height: 60vh;
    }
    .sk{
       padding-left: 15px; 
    }
    .skill_name{
        font-size: 1rem;
    }
    .Java,.Spring,.Html,.CSS,.JavaScript,.MDM{
        width: 250px;
        height: 25px;
    }
    .Java_fill,.Spring_fill{
        width: 80%;
    }
    .Html_fill,.MDM_fill{
        width: 80%;
    }
    .CSS_fill{
        width:50%;
    }
    .JS_fill{
        width: 30%;;
    }
    .Java_per,.Spring_per,.Html_per,.CSS_per,.JS_per,.MDM_per{
        right: 5px;
    }
    .Projects{
        height: 80vh;
    }
    .project-1{
        padding: 0 1rem;;
    }
    .left,.right{
        padding: 0 0.5rem;
    }
    .project-1-image{
        height: 200px;
    }
    .project-header{
        font-size: 1.2rem;
    }
    .content{
        font-size: 12px;
    }
    .content-footer{
        font-size: 10px;
    }
    .Quote_2{
        height: 40vh;
    }
    .Quote2__line1_content{
        left:20px;
        font-size: 10px;
    }
    .Quote2__line2_content{
        right: 2px;
        top: 49%;
        font-size: 10px;
    }
    .QuoteBy2{
        position: absolute;
        top:53%;
        right: 5px;
        font-size: 12px;
    }
}
