*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

.main_container{
    padding: 1rem 3rem;
}

.body{
    position: relative;
}

.body.active{
    background-color: rgb(97, 91, 91);
}

.darkgray_theme.active{
    background-color: white;
}

.darkgray_theme{
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 1rem;
    border: none;
    background-color: rgb(97, 91, 91);
    position: absolute;
    top: 20px;
    right: 15px;
}

.blue_theme{
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 1rem;
    border: none;
    background-color: #659DBD;
    position: absolute;
    top: 60px;
    right: 15px;
}

.body.blue{
    background-color: #659DBD;
}

.blue_theme.active{
    background-color: white;
}

.pink_theme{
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 1rem;
    border: none;
    background-color: #F64C72;
    position: absolute;
    top: 100px;
    right: 15px;
}

.body.pink{
    background-color: #F64C72;
}

.pink_theme.active{
    background-color: white;
}

.cream_theme{
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 1rem;
    border: none;
    background-color: #EDC7B7;
    position: absolute;
    top: 140px;
    right: 15px;
}

.body.cream{
    background-color: #EDC7B7;
}

.cream_theme.active{
    background-color: white;
}

.lightwhite_theme{
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 1rem;
    border: none;
    background-color: #EAE7DC;
    position: absolute;
    top: 180px;
    right: 15px;
}

.body.lightwhite{
    background-color: #EAE7DC;
}

.lightwhite_theme.active{
    background-color: white;
}

.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 10px;
    font-size: 2rem;
}
.items{
    padding-right: 2.5rem;
}
.nav ul li{
    display: inline-block;
    padding: 10px;
}
.nav ul li:hover{
    background-color: cadetblue;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.hamburger-button{
    display: none;
}

.intro_section{
    padding: 10rem 25rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}
.intro_heading{
    font-size: 5rem;
}
.tag_line{
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    left: 25%;
    text-indent: 12rem;
    text-align: center;
    width: 900px;
    font-size: 3.5rem;
}
.intro_img{
    width:300px;
    height: 450px;
    position: relative;
    z-index: 2;
    transition: ease-in-out 1s;
}

.intro_img:hover{
    transform: scaleX(1.2) scaleY(1.2);
}
.grid-item1{
    grid-row: span 2;
}

.intro_heading{  
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 2.5rem;
}
.stringName{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 6rem;
}
.grid-item2{
    padding-left: 2rem;
}
.grid-item3{
    padding-bottom: 5rem;
}
.intro_img{
    box-shadow: 8px 16px 12px #888888;
}

.Quote_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.Quote_container:hover .Quote_firstLine_content{
    transform: translateX(0%);
}
.Quote_container:hover .Quote_secondLine_content{
    transform: translateX(0%);
}
.Quote_container:hover .Quote_secondLine_content:hover{
    transform: scaleX(1.2) scaleY(1.2);
}
.Quote_container:hover .Quote_thirdLine_content{
    transform: translateX(0%);
}
.Quote_container:hover .Quote_thirdLine_content:hover{
    transform: scaleX(1.2) scaleY(1.2);
}

.Quote_container:hover .QuoteBy{
    display: flex;
}

.Quote_container:hover .QuoteBy:hover{
    transform: scaleX(1.2) scaleY(1.2);
    font-size: 1.5rem;
}
.Quote_firstLine_content{
    position: absolute;
    top: 39%;
    left: 12rem;
    background-color: chartreuse;
    transform: translateX(-151%);
    transition: ease-in-out 1s;
}
.Quote_container:hover .Quote_firstLine_content:hover{
    transform: scaleX(1.2) scaleY(1.2);
}

.Quote_secondLine_content{
    position: absolute;
    transform: translateX(-400%);
    transition: ease-in-out 1s;
    background-color: rgb(236, 212, 102);
    top: 45%;
}
.Quote_thirdLine_content{
    position: absolute;
    transform: translateX(-400%);
    transition: ease-in-out 1s;
    background-color: rgb(190, 103, 224);
    right: 10rem;
    top: 51%;
}
.QuoteBy{
    display: none;
    transition: 1s;
    position: absolute;
    top: 65%;
    right: 20px;
}
.Skills_Main_Container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.Skills_header{
    text-align: center;
    padding-bottom: 3rem;
}
.Skills{
    position: ;
}
.skills_table{
    text-align: center;
    padding: 1rem 1rem;
}
.skills_table td{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
}

.Java{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.Java_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.Java_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.Spring{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.Spring_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.Spring_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.Html{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.Html_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.Html_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.CSS{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.CSS_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.CSS_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.JavaScript{
    position: relative;
    background-color: lightgray;
    width: 1000px;
    height: 40px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}
.JS_fill{
    height: 40px;
    background-color: rgb(112, 206, 223);
    width: 0%;
    transition: ease-in-out 1s;
}
.JS_per{
    position: absolute;
    top: 50%;
    right: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.Skills{
    display: grid;
    grid-gap: 2rem;
}

.sk{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
}
.skill_name{
    font-size: 2.5rem;
    font-weight: bold;
}

.Skills_Main_Container:hover .Spring_fill{
    width: 80%;
}
.Skills_Main_Container:hover .Java_fill{
    width: 80%;
}
.Skills_Main_Container:hover .Html_fill{
    width: 70%;
}
.Skills_Main_Container:hover .CSS_fill{
    width: 50%;
}
.Skills_Main_Container:hover .JS_fill{
    width: 30%;
}

.Skills_header{
    font-size: 3rem;
}


.Projects{
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-1{
    margin-top: 1rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem;

}

.left{
    width: 100%;
    height: 50%;
    padding: 0 2rem;
}

.project-1-anchor{
    background-image: url("Images/CountDownProject.JPG");
    background-size: cover;
    background-position: top;
}

.project-1-image{
    width: 100%;
    height: 350px;
    transition: ease-in-out 1s;
}

.project-1-image:hover{
    transform: scaleX(1.2) scaleY(1.2);
}

.right{
    width: 100%;
    height: 50%;
    padding: 0 2rem;
}

.Projects_heading,.project-header{
    font-size: 3rem;
    text-align: center;
}

.content{
    font-size: 1.5rem;
}

.content-footer{
    text-align: center;
}

.project-2{
    display: inline-flex;
    padding-top: 10rem;
}

.Quote_2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Quote2__line1_content{
    position: absolute;
    left: 10rem;
    top:44%;
    background-color: lightgreen;
    transition: ease-in-out 1s;
}
.Quote2__line1_content:hover{
    transform: scaleX(1.2) scaleY(1.2);
}

.Quote2__line2_content{
    position: absolute;
    right: 5rem;
    top:50%;
    background-color: lightcoral;
    transition: ease-in-out 1s;
}
.Quote2__line2_content:hover{
    transform: scaleX(1.2) scaleY(1.2);
}

.QuoteBy2{
    position: absolute;
    top: 60%;
    right: 20px;
    transition: ease-in-out 1s;
}
.QuoteBy2:hover{
    transform: scaleX(1.2) scaleY(1.2);
    font-size: 2rem;
}

.Quote3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Quote_3_line1{
    background-color: rgb(77, 247, 77);
    position: absolute;
    font-size: 1.2rem;
    left: 10rem;
    top:45%;
    animation-name: Quote_3_line1;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
.Quote_3_line1:hover {
    animation-play-state: paused;
}
.Quote_3_line2{
    background-color: rgb(255, 184, 78);
    position: absolute;
    font-size: 1.2rem;
    right: 10rem;
    top:52%;
    animation-name: Quote_3_line1;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
.Quote_3_line2:hover {
    animation-play-state: paused;
}
.QuoteBy3{
    position: absolute;
    right: 30px;
    top:60%;
    transition: ease-in-out 1s;
}
.QuoteBy3:hover{
    font-size: 1.5rem;
}

@keyframes Quote_3_line1 {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}

.Projects_heading, .Skills_header{
    text-decoration: underline;
}

.About_Header,.contactHeader{
    text-align: center;
    text-decoration: underline;
}

.About{
    height: 80vh;
}
.block-container{
    
    padding: 3rem 18rem;
}
.content{
    background-color: rgb(223, 218, 218);
    font-size: 2rem;
    text-align: start;
    padding: 1rem;
}
.about-footer{
    background-color: rgb(223, 218, 218);
    text-align: center;
}
.myName{
    background-color: rgb(223, 218, 218);
    text-align: end;
    padding-right: 30px;
    padding-bottom: 30px;
}
.contactMe{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gmail-id{
    font-size: 2rem;
    font-weight: bold;
}

@media(max-width:780px){
    .nav{
       display: none;
    }
    .hamburger-button{
        position: absolute;
        display: flex;
        right: 0;
        top: 50%;
        transform: translateY(-60%);
    }
    .hamburger-button{
        font-size: 2rem;
        background-color: white;
        border: none;
        border-radius: 7px;
    }
    .header{
        flex-direction: column;
        position: relative;
    }
    .nav ul li{
        display: block;
        text-align: center;
        padding: 5px;
    }
    .nav.active{
        display: block;
    }
    .intro_section{
        grid-template-columns: 1fr 1fr;
        padding: 3rem 3rem;
        justify-content: start;
        height: 40vh;
    }
    .intro_heading{
        font-size: 2rem;
    }
    .stringName{
        font-size: 3rem;
    }
    .tag_line{
    font-family: Stencil Std, fantasy;
    width: 330px;
    left: 12%;
    text-indent: 4rem;
    font-size: 1.5rem;
    }
    .intro_img{
        width:110px;
        height: 200px
    }
    .grid-item2 {
        padding-left: 12px;
    }
    .Quote_container{
        height: 40vh;
    }

    .Quote_firstLine_content{
        position: absolute;
        font-size: 1rem;
        top: 44%;
        left: 12px;
        background-color: chartreuse;
        transform: translateX(0);
        transition: ease-in-out 1s;
    }
    .Quote_secondLine_content{
        font-size: 1rem;
        position: absolute;
        transform: translateX(0);
        transition: ease-in-out 1s;
        background-color: rgb(228, 200, 79);
        top: 50%;
    }
    .Quote_thirdLine_content{
        font-size: 1rem;
        position: absolute;
        transform: translateX(0);
        transition: ease-in-out 1s;
        background-color: rgb(174, 95, 206);
        right: 10px;
        top: 56%;
    }
    .QuoteBy{
        font-size: 0.75rem;
        display: flex;
        transition: 1s;
        position: absolute;
        top: 65%;
        right: 20px;
    }
    .Skills_Main_Container{
        height: 60vh;
    }
    .sk{
       padding-left: 15px; 
    }
    .skill_name{
        font-size: 1rem;
    }
    .Java,.Spring,.Html,.CSS,.JavaScript,.MDM{
        width: 250px;
        height: 25px;
    }
    .Java_fill,.Spring_fill,.MDM_fill{
        width: 80%;
        overflow: hidden; 
    }
    .animation_java_fill{
        height: 40px;
        animation: load 1.5s linear 0s infinite alternate;
    }
    .animation_html_fill{
        height: 40px;
        animation: load 1.5s linear 0s infinite alternate;
    }
    .Html_fill{
        width: 70%;
    }
    .CSS_fill{
        width:50%;
    }
    .JS_fill{
        width: 30%;;
    }

@keyframes load {
    0%{
        width: 0%;
    }
    20%{
        width: 20%;
        background-color: rgb(59, 161, 110);
    }
    40%{
        width: 40%;
        background-color: rgb(224, 226, 76);
    }
    60%{
        width: 60%;
        background-color: rgb(15, 73, 180);
    }
    80%{
        width: 80%;
        background-color: rgb(200, 75, 204);
    }
    100%{
        width: 100%;
        background-color: rgb(224, 48, 42);
    }
}

    .Java_per,.Spring_per,.Html_per,.CSS_per,.JS_per,.MDM_per{
        right: 5px;
    }
    .Projects{
        height: 80vh;
    }
    .project-1{
        padding: 0 1rem;;
    }
    .left,.right{
        padding: 0 0.5rem;
    }
    .project-1-image{
        height: 200px;
    }
    .project-header{
        font-size: 1.2rem;
    }
    .content{
        font-size: 12px;
    }
    .content-footer{
        font-size: 10px;
    }
    .Quote_2{
        height: 40vh;
    }
    .Quote2__line1_content{
        left:20px;
        font-size: 10px;
    }
    .Quote2__line2_content{
        right: 2px;
        top: 49%;
        font-size: 10px;
    }
    .QuoteBy2{
        position: absolute;
        top:53%;
        right: 5px;
        font-size: 12px;
    }
    .Quote3{
        height: 40vh;
    }
    .Quote_3_line1{
        left: 15px;
        font-weight: 700;
        font-size: 7px;
    }
    .Quote_3_line2{
        right: 10px;
        font-size: 10px;
    }
    .QuoteBy3{
        font-size: 0.5rem;
    }
    .About{
        height: 40vh;
    }
    .block-container{
        padding: 1rem 2rem;
    }

    .darkgray_theme{
        border-radius: 20px;
        font-weight: bold;
        height: 20px;
        width: 20px;
        padding: 5px;
        border: none;
        background-color: rgb(97, 91, 91);
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .blue_theme,.pink_theme,.cream_theme,.lightwhite_theme{
        border-radius: 20px;
        height: 20px;
        padding: 5px;
        width: 20px;
        top: 10px;
    }

    .blue_theme{
        right: 45px;
    }
    .pink_theme{
        right: 75px;
    }
    .cream_theme{
        right: 105px;
    }
    .lightwhite_theme{
        right: 135px;
    }
    .hamburger-button.pink{
        background-color: #F64C72;
        color:black;
    }

    .hamburger-button.cream{
        background-color: #EDC7B7;
        color:black;
    }

    .hamburger-button.lightwhite{
        background-color: #EAE7DC;
        color:black;
    }

    .hamburger-button.blue{
        background-color: #659DBD;
        color:black;
    }

    .hamburger-button.active{
        background-color: rgb(97, 91, 91);
        color:black;
    }
    .hamburger-button.act{
        top:8%;
    }
    .main_container{
            padding: 3rem 1.5rem;
    }
}
